<div class="container-fluid mt-5">
  <div class="container-lg">
    <div class="row">
      <div class="col text-center">
        <div>
          <img class="img-thumbnail" src="../../../assets/imgs/Not-Found.png" alt="Not Found">
        </div>
        <div class="mt-3">
          <h1 class="display-1">404</h1>
          <p class="display-6 ">Página não encontrada!</p>
        </div>
      </div>
    </div>
    <div class="row mt-4 mb-4">
      <div class="col text-center">
        <p class="lead fs-4" *ngIf="show">Redirecionando em {{ contador }}</p>
      </div>
    </div>
  </div>
</div>
