<div class="m-auto">
  <p class="lead fs-6">
    Foi meu ponto de partida para ingressar no universo da progamação, tenho 7
    meses de experiência, trabalhei em projetos interdiciplinares, projetos
    independentes em equipe e em desenvolvimento de um site para uma empresa de
    Portugal juntamente com outros amigos da área!
  </p>
  <p class="lead fs-6">
    Depois de aprender html, ingressei nos estudos em css e juntamente com html,
    utilizei nos desenvolvimentos dos sites e projetos no período dos estudos e
    dos projetos que ingressei, também tendo 7 meses de experiência!
  </p>
  <p class="lead fs-6">
    Para fechar com a base e atuar profissionalmente e precisamente na área de
    desenvolvimento web, ingressei nos estudos em Javascript, ainda estando em
    processo de aprendizagem, contudo ja atuando na pratica com meus
    conhecimentos adquiridos no até o momento, tendo assim 3 meses de
    experiência com essa linguagem!
  </p>
  <p class="lead fs-6">
    Meu primeiro contato foi por consequência da necessidade de utilizar em
    conjunto com angular, meu aprendizado foi rápido, algumas peculiariedades
    específicas da lingaugem, mas nada que me dificulta-se. Tendo assim, 4 meses
    de experiência!
  </p>
  <p class="lead fs-6">
    Busquei dps de compreender e aprender utilizar uma boa parte das
    funcionalidades disponíveis do css, busquei aprender frameworks para melhor
    aproveitamento, redução de tempo e otimização de código assim iniciando em
    uma das principais bibliotecas, o bootstrap, tendo no momento 5 meses de
    experiência!
  </p>
  <p class="lead fs-6">
    Inicialmente comcei a estudar angular por necessidade, pois no meu primeiro
    projeto profissional iríamos utilizar o conjunto Angular com Spring. Foi bem
    desafiador no início, além que foi por ele que tive meu primeiro contato com
    Typescript, contudo com o tempo, estudando e botando em prática o que fui
    aprendendo, gostei do Framework, e assim seguir me aprimorando e melhorando
    minhas habilidades nessa ferramenta, atualmente tendo 4 meses de
    experiência!
  </p>
</div>
