/* Animações */
@keyframes zoom {
  0% {
    scale: 0;
  }

  50% {
    scale: 1.2;
  }

  100% {
    scale: 1;
  }
}

/* Formatações */
p {
  text-align: justify;
}

img {
  animation-name: zoom;
  animation-duration: 1.5s;
}
