/* Animações */
@keyframes balanco {
  0% {
    top: 0;
  }

  50% {
    top: -15px;
  }

  100% {
    top: 0;
  }
}

/* Formatações */
img {
  width: 50px;
}

.divCard {
  position: relative;
  animation-duration: 3s;
  animation-name: balanco;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
