<nav class="navbar navbar-expand-md bg-black sticky-top" data-bs-theme="dark">
  <div class="container-lg">
    <a routerLink="home" class="navbar-brand fs-3 lead">
      Finotti <span class="fw-semibold text-decoration-underline">Dev</span>
    </a>
    <button
      type="button"
      class="navbar-toggler"
      data-bs-toggle="collapse"
      data-bs-target="#nav"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse border-warning" id="nav">
      <ul class="navbar-nav nav-underline w-100 justify-content-around">
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="home"
            routerLinkActive="router-link-active"
            routerLinkActive="active"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="projetos" routerLinkActive="active"
            >Projetos</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true">Redes</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
