<div id="cardClock" class="mt-3 d-none d-md-block">
  <button
    type="button"
    class="btn bg-black"
    [ngClass]="{ rotate: rotate, 'rotate-reverse': reverse }"
    (click)="rotateAnimation(imgClock)"
  >
    <img
      class="position-relative"
      [ngClass]="{ 'img-rotate': rotate, 'img-reverse': reverse }"
      src="../../../../assets/imgs/date.png"
      alt="Relógio"
      #imgClock
    />
  </button>
  <div
    id="cardData"
    class="bg-black text-bg-dark text-center"
    [ngClass]="{ 'card-show': rotate, 'card-close': reverse }"
  >
    <p id="data">
      {{ data | date : "dd/MM/yyy" }}
    </p>
    <p id="clock">
      {{ data | date : "HH:mm:ss" }}
    </p>
  </div>
</div>
