/* Animações */
@keyframes showProjects {
  from {
    scale: 0;
  }

  to {
    scale: 1;
  }
}

.showProjects {
  animation-name: showProjects;
  animation-duration: 1.2s;
}
/* Formatações */
img {
  width: 200px;
}

a:hover {
  transition-property: transform;
  transition-duration: 500ms;
  transition-timing-function: ease-out;
  transform: scale(1.2);
}
