<div class="container-fluid mt-3 mb-3">
  <div class="container-lg">
    <div class="row">
      <div class="col">
        <article>
          <div class="d-flex align-items-center justify-content-center pt-2">
            <span class="h2 me-2">Meus Projetos</span>
            <img
              class="img-thumbnail border-0"
              src="../../../assets/imgs/projects.png"
              alt="Projeto"
            />
          </div>
          <app-cards-projetos></app-cards-projetos>
        </article>
      </div>
    </div>
  </div>
</div>
