<div class="row row-cols-2 row-cols-md-4 g-5 mt-3 mb-3">
  <div class="col">
    <div class="card border-0 align-items-center" id="1">
      <img
        class="card-img-top"
        src="./../../../assets/imgs/html-5.png"
        alt="Html"
      />
      <p class="card-text display-6 fs-5 fw-semibold">HTML</p>
    </div>
  </div>
  <div class="col">
    <div class="card border-0 align-items-center" id="2">
      <img class="card-img-top" src="../../../assets/imgs/css.png" alt="Css" />
      <p class="card-text display-6 fs-5 fw-semibold">CSS</p>
    </div>
  </div>
  <div class="col">
    <div class="card border-0 align-items-center" id="3">
      <img class="card-img-top" src="../../../assets/imgs/js.png" alt="Js" />
      <p class="card-text display-6 fs-5 fw-semibold">JS</p>
    </div>
  </div>
  <div class="col">
    <div class="card border-0 align-items-center" id="4">
      <img
        class="card-img-top"
        src="../../../assets/imgs/typescript.png"
        alt="Ts"
      />
      <p class="card-text display-6 fs-5 fw-semibold">TS</p>
    </div>
  </div>
  <div class="col">
    <div class="card border-0 align-items-center" id="5">
      <img
        class="card-img-top"
        src="../../../assets/imgs/bootstrap.png"
        alt="Bootstrap"
      />
      <p class="card-text display-6 fs-5 fw-semibold">Bootstrap</p>
    </div>
  </div>
  <div class="col">
    <div class="card border-0 align-items-center" id="6">
      <img
        class="card-img-top"
        src="../../../assets/imgs/angular.png"
        alt="Angular"
      />
      <p class="card-text display-6 fs-5 fw-semibold">Angular</p>
    </div>
  </div>
</div>
