<div class="card border-0">
  <div class="card-body">
    <div class="row">
      <div class="col-md-4">
        <img
          class="card-img-top"
          src="../../../assets/imgs/Foto tumb.png"
          id="img-tumb"
        />
      </div>
      <div class="col-md-8">
        <p class="card-text">
          Amante de tecnologia, desde criança sempre me interessei pela
          área da computação, desde criança sempre tive a curiosidade de
          tentar compeender como um computador funcionava, ficava horas
          mexendo em tudo que fosse possível no computador e nas suas
          ferramentas para tentar aprender a utilizar e descobrir como
          tudo aquilo se comunicava.
        </p>
        <p class="card-text">
          A partir dos meus 12 anos comecei a me aventurar na área de
          progamação, consumindo conteúdos no YouTube e na Web em geral.
          Comecei nos estudos em Frontend, cujo me matenho até hoje,
          contudo pretendo ingressar futuramente nos estudos em Backend
          e buscar tornar-me desenvolver Fullstack.
        </p>
      </div>
    </div>
  </div>
</div>
